* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /*include padding and margin in the box model*/
}

:root{
    --color-scheme: #2E2E2E;
    --header-color: #212121;
}

#container{
    min-width: 100%;
    min-height: 100vh;
    background-color: var(--color-scheme);
    
    display: grid;
    grid-template-columns: 40vw 1fr;
    grid-template-rows: 10vh 85vh;
    grid-template-areas: 
    "heading heading"
    "editor markdown";
    
}

#heading{
    grid-area: heading;
    border: solid black 1px;
    border-radius: 0px 0px 2em 2em;
    background-color: #212121;
}

#editor{
    grid-area: editor;
    border: solid black 3px;
    margin: 10px;
    padding: 20px;
    resize: none;
    white-space: nowrap;
    background-color: var(--color-scheme);
    color: white;

    min-width: 20vw;
    max-width: 70vw;
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

#markdown{
    grid-area: markdown;
    border: solid black 3px;
    padding: 20px 40px 20px 40px;
    margin: 10px;
    background-color: var(--color-scheme);
    overflow: auto;
    color: white;

    font-size: 24px;
}
