* {
    margin: 0px;
    padding: 0px;
    font-family: 'ShareTech', sans-serif;
    font-size: 18px;
    color: #344648;
    background-color: #FFBB98;

    box-sizing: border-box; /*include padding and margin in the box model*/
}

#container{
    padding: 20px 40px 20px 40px;
    min-width: 100%;
    min-height: 100vh;

    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "heading heading"
    "editor markdown";
    
}

#heading{
    grid-area: heading
}

#editor{
    grid-area: editor;
    border: solid black 1px;
    padding: 16px;
    resize: horizontal;

    min-width: 20vw;
    max-width: 70vw;
    
}

#markdown{
    grid-area: markdown;
    border: solid black 1px;
    padding: 16px;

}